html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    @extend %dmsans-700;
    font-size: 36px;
    color: $title;
    text-align: center;
}

.mixitup-control-active {
    color: #1a1a1a;
}

.filter {
    text-align: center;
    margin-bottom: 80px;
}

.filter-btn {
    border: none;
    background-color: transparent;
    font-size: 16px;
    @extend %dmsans-700;
    color: #939393;
    line-height: 1.2;
    outline: none;
    cursor: pointer;
    &+& {
        margin-left: 14px;
    }
}