.search-icon,
.burger-icon,
.search-products,
.cart-products,
.heart-products {
   margin: auto;
}

.search-icon {
   width: 15px;
   height: 15px;
   fill: $dark-grey;
}

.heart-icon {
   width: 18px;
   height: 17px;
   fill: #29282d;
}

.cart-icon {
   width: 19px;
   height: 17px;
}

.burger-icon {
   width: 20px;
   height: 20px;
}

.search-products,
.cart-products,
.heart-products {
   fill: #a3bbc8;
}

.search-products {
   width: 20px;
   height: 20px;
}

.cart-products {
   width: 22px;
   height: 20px;
}

.heart-products {
   width: 22px;
   height: 18px;
}

.arrow-next,
.arrow-prew {
   width: 22px;
   height: 9px;
   fill: #a3bbc8;
}

.search2 {
   width: 17px;
   height: 17px;
   fill: #094074;
}

.facebook,
.twitter,
.instagram,
.google {
   fill: #a1a1a1;
   margin-right: 20px;
}

.facebook {
   width: 8px;
   height: 15px;
}

.twitter {
   width: 15px;
   height: 12px;
}

.instagram {
   width: 14px;
   height: 14px;
}

.google {
   width: 18px;
   height: 11px;
}

.address {
   width: 31px;
   height: 44px;
}

.our-email {
   width: 37px;
   height: 34px;
}

.our-phone {
   width: 37px;
   height: 44px;
}