.header {
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
    padding: 48px 15px 45px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__list {
        display: flex;
    }
    &__list-item {
        &+& {
            margin-left: 30px;
        }
    }
    &__list-link {
        // padding: px 0;
        @extend %rubik-500;
        font-size: 15px;
        color: $medium-dark;
        line-height: 15px;
        cursor: pointer;
        transition: color, border-bottom 0.3s;
        &:hover {
            color: $grey-blue;
            border-bottom: 1px solid $grey-blue;
        }
    }
    &__user {
        display: flex;
    }
    &__user-link {
        position: relative;
        &--heart,
        &--cart {
            padding: 0 30px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                .menu__user-num {
                    width: 20px;
                    height: 20px;
                    font-size: 15px;
                    line-height: 20px;
                }
            }
        }
        &--heart {
            border-right: 1px solid #fde7d3;
        }
    }
    &__user-item {
        display: flex;
        margin: 0 20px;
        padding: 10px;
        min-width: 178px;
        height: 52px;
        background-color: $peach;
        border-radius: 25px;
    }
    &__user-num {
        position: absolute;
        top: 0px;
        right: 21px;
        background-color: #fff;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        @extend %dmsans-400;
        font-size: 10px;
        line-height: 15px;
        text-align: center;
        transition: all .3s;
    }
}