$medium-dark: #436372;
$peach:#fcd7b6;
$dark-grey: #243f4d;
$grey-blue: #a3bbc8;
$title: #191919;
$accent: #7b7b7b;
%dmsans-400 {
    font-family: 'DMSans', sans-serif;
    font-weight: 400;
}

%dmsans-500 {
    font-family: 'DMSans', sans-serif;
    font-weight: 500;
}

%dmsans-700 {
    font-family: 'DMSans', sans-serif;
    font-weight: 700;
}

%poppins-700 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

%rubik-400 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

%rubik-500 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

%myriad-400 {
    font-family: 'MyriadPro', sans-serif;
    font-weight: 400;
}

@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}