.detalis {
   padding-top: 120px;
   &__inner {
      display: flex;
   }
   &__slide {
      display: flex;
   }
   &__item {
      padding-top: 40px;
   }
   &__item-title {
      font-size: 40px;
      @extend %rubik-400;
      line-height: 0.661;
      color: #333333;
      margin-bottom: 20px;
   }
   &__star {
      margin-bottom: 20px;
   }
   &__item-price {
      font-size: 30px;
      @extend %rubik-400;
      color: #333333;
      line-height: 1.5;
      margin-bottom: 25px;
   }
   &__item-text {
      font-size: 16px;
      @extend %rubik-400;
      color: $dark-grey;
      line-height: 1.875;
      margin-bottom: 30px;
   }
   &__item-btn {
      border-radius: 5px;
      background-color: #a3bbc8;
      width: 208px;
      height: 53px;
      font-size: 15px;
      @extend %rubik-400;
      color: #fff;
      outline: 0;
      border: none;
      cursor: pointer;
      margin-bottom: 55px;
   }
   &__text {
      font-size: 16px;
      @extend %rubik-400;
      color: $dark-grey;
      line-height: 1.875;
   }
   &__link {
      font-size: 16px;
      @extend %rubik-400;
      color: $dark-grey;
      line-height: 1.875;
      cursor: pointer;
      transition: color .3s;
      &:hover {
         color: $grey-blue;
      }
   }
}

.detalis-slide {
   margin-right: 65px;
   .slick-vertical .slick-slide {
      height: 160px;
      margin-bottom: 25px;
   }
   &__thumb {
      width: 140px;
      margin-right: 25px;
   }
   &__thumb-item {
      height: 160px;
      border: 2px solid #f2f2f2;
      display: flex !important;
      align-items: flex-end;
      justify-content: center;
      img {
         max-width: 140px;
         max-height: 160px;
         object-fit: cover;
      }
   }
   &__big {
      width: 390px;
      img {
         max-width: 390px;
         max-height: 530px;
         object-fit: cover;
      }
   }
   &__big-item {
      min-height: 530px;
      display: flex !important;
      justify-content: center;
      align-items: center;
      border: 2px solid #f2f2f2;
   }
}

.detalis-tabs {
   padding: 80px 0 100px;
   &__top {
      display: flex;
      margin-bottom: 35px;
   }
   &__item {
      display: block;
      padding-top: 7px;
      width: 241px;
      height: 53px;
      background-color: rgba(163, 187, 200, 0.2);
      border-radius: 5px;
      font-size: 18px;
      @extend %rubik-500;
      color: $dark-grey;
      line-height: 2.222;
      text-align: center;
      transition: background-color, color, .5s;
      &+& {
         margin-left: 10px;
      }
   }
   &__item--active {
      color: #fff;
      background-color: #a3bbc8;
   }
   &__box {
      font-size: 16px;
      @extend %rubik-400;
      color: $dark-grey;
      line-height: 1.875;
      display: none;
      &.detalis-tabs__box--active {
         display: block;
      }
   }
}