.insights {
   background: linear-gradient(180deg, #fff 350px, rgba(252, 215, 182, 0.2) 0%);
   @media (max-width: $lg) {
      background: none;
      margin-bottom: 40px;
   }
   &__inner-top {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 40px;
      @media (max-width: $xs) {
         flex-direction: column;
         align-items: center;
         gap: 25px;
      }
   }
   &__top-link {
      @extend %dmsans-700;
      color: #262626;
      &::after {
         content: ">";
         margin-left: 16px;
      }
   }
   &__inner-items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (max-width: $lg) {
         justify-content: center;
         gap: 30px;
      }
   }
}

.article {
   &__item {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      max-width: 370px;
      border-radius: 5px;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      overflow: hidden;
   }
   &__img {
      max-width: 370px;
      min-height: 263px;
   }
   &__box {
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 0 30px;
   }
   &__news {
      width: 103px;
      height: 30px;
      @extend %poppins-700;
      font-size: 14px;
      color: #fff;
      line-height: 2;
      text-align: center;
      text-transform: uppercase;
      background-color: rgb(163, 187, 200);
      border-radius: 25px;
      margin: -15px 0 20px;
      display: block;
   }
   &__text {
      @extend %dmsans-500;
      font-size: 18px;
      color: #262626;
      margin-bottom: 15px;
      -webkit-line-clamp: 3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
   }
   &__autor {
      margin-top: auto;
      padding-top: 18px;
      padding-bottom: 20px;
      border-top: 1px solid #e0e0e0;
   }
   &__calendar,
   &__user {
      display: inline-flex;
      font-size: 14px;
      color: #222933;
      @extend %myriad-400;
   }
   &__user {
      &::before {
         content: url(../images/icons/user.svg);
         width: 13px;
         height: 13px;
         margin-right: 8px;
      }
   }
   &__calendar {
      margin-right: 30px;
      &::before {
         content: url(../images/icons/calendar.svg);
         width: 13px;
         height: 13px;
         margin-right: 8px;
      }
   }
}