.lamp {
    max-width: 1770px;
    margin: 0 auto;
    padding: 86px 0 24px;
    &__inner {
        display: flex;
    }
    &__item {
        margin-top: 100px;
        background-color: rgba(252, 215, 182, 0.4);
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 86px;
        &+& {
            margin-left: 30px;
        }
    }
    &__item-img {
        margin-top: -100px;
        margin-right: 40px;
    }
    &__content {
        max-width: 400px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 86px 0 0 15px;
    }
    &__item-title {
        max-width: 260px;
        @extend %dmsans-700;
        font-size: 26px;
        line-height: 32px;
    }
    &__item-text {
        @extend %rubik-400;
        font-size: 16px;
        line-height: 30px;
    }
    &__item-link {
        display: block;
        padding: 25px 20px 25px 25px;
        max-width: 200px;
        background-color: transparent;
        border: 1px solid rgba(67, 99, 114, 0.4);
        @extend %rubik-500;
        font-size: 15px;
        line-height: 12px;
        color: $medium-dark;
        position: relative;
        &::after {
            position: absolute;
            content: url('../images/icons/arrow-btn-accent.svg');
            width: 22px;
            height: 9px;
            right: 20px;
            transform: translateY(-50%, -50%);
        }
        &:hover {
            background-color: $grey-blue;
            color: #fff;
            text-align: center;
            border: 1px solid transparent;
            &:after {
                display: none;
            }
        }
    }
}