.video {
   padding: 60px 0 110px;
   @media (max-width: $xs) {
      padding-bottom: 40px;
   }
   &__inner {
      background-color: #e6e6e6;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: $xs) {
         min-height: 380px;
      }
   }
   &__popup {
      width: 127px;
      height: 127px;
      z-index: 73;
      display: flex;
      justify-content: center;
      align-items: center;
      animation-name: blue-circle;
      animation-duration: .6s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      outline: 0;
   }
}

@keyframes blue-circle {
   0% {
      border-radius: 50%;
   }
   100% {
      border-radius: 50%;
      background-color: rgba(163, 187, 200, 0.4);
      width: 127px;
      height: 127px;
      z-index: 72;
   }
}